.main {
    height: 100vh;
}
.app-layout {
    width: 70%;
    margin: 0 auto;
    padding-top: 3.5rem;
}

.search-box {
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    font-size: 0.9rem;
}
.search-box:focus {
    outline: none;
}
.add-note-btn {
    border: none;
    border-radius: 5px;
    padding: 0 15px;
}
.add-note-txt {
    font-size: 0.85rem;
}
.notes-card-area {
    border: 1px solid #777;
    margin-top: 1.5rem;
}
.no-notes {
    color: #777;
    font-size: 0.9rem;
}

/* Notes area */

.notes-area {
    background: #2a2a2a;
    border: none;
    margin-bottom: 10px;
    height: 63vh;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.notes-main-input {
    background: #333;
    border: none;
    height: 50vh;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: #f2f2f2;
}

.notes-main-input:focus {
    outline: none;
}
#note-title-input {
    background: #2a2a2a;
    border: none;
    border-bottom: 1px solid #555;
    color: #f2f2f2;
    width: 400px;
}
#note-title-input:focus {
    outline: none;
}

.save-btn {
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 3px 7px;
}